{{ $data := index site.Data site.Language.Lang }}

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact" class="contact-us section-bg">
	{{"<!-- Contact Form -->" | safeHTML}}
			{{ if .contact_form.enable }}
			{{ with .contact_form }}
	<div class="col-lg-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
	<div class="booking-form">
    <div class="booking-form-label">
        <h3>姓氏*</h3>
        <label class="bfl-liner"><input type="text" placeholder="請輸入您的姓氏" name="last_name" value="" required=""></label>
    </div>
    <div class="booking-form-label">
        <h3>名字*</h3>
        <label class="bfl-liner"><input type="text" placeholder="請輸入您的名字" name="first_name" value="" required=""></label>
        <label class="bfl-inline"><input type="radio" name="gender" value="先生" required=""> 先生</label>
        <label class="bfl-inline"><input type="radio" name="gender" value="女士"> 女士</label>
    </div>
    <div class="booking-form-label">
        <h3>手機號碼* (範例: 09xxxxxxxx)</h3>
        <label class="bfl-liner"><input type="text" placeholder="請輸入您的手機號碼" name="mobile" value="" required=""></label>
    </div>
    <div class="booking-form-label">
        <h3>EMAIL*</h3>
        <label class="bfl-liner"><input type="text" placeholder="請輸入您的 email" name="email" value="" required=""></label>
    </div>
</div>
 
<div class="booking-form">
    <div class="booking-form-label booking-form-block">
        <label class="bfl-inline"><input type="radio" name="center" value="1" checked="" class="js-has-center"> 選擇偏好的展示中心</label>
    </div>
    <div class="booking-form-label js-center-map">
        <div class="custom-select" id="js-area-custom-select">
            <select name="area" id="js-area">
                <option value="-1">請選擇地區</option>
                                <option>大台北地區</option>
                                <option>桃竹苗地區</option>
                                <option>中彰投地區</option>
                                <option>雲嘉南地區</option>
                                <option>高屏地區</option>
                                <option>宜蘭花蓮地區</option>
                            </select>
        <div class="select-selected">請選擇地區</div><div class="select-items select-hide"><div>大台北地區</div><div>桃竹苗地區</div><div>中彰投地區</div><div>雲嘉南地區</div><div>高屏地區</div><div>宜蘭花蓮地區</div></div></div>
    </div>
    <div class="booking-form-label js-center-map">
        <div class="custom-select" id="js-custom-select">
            <select name="exhibition" id="js-exhibition">
                <option value="-1">請選擇展示中心</option>
            </select>
        <div class="select-selected">請選擇展示中心</div><div class="select-items select-hide"></div></div>
    </div>
   <div class="booking-form-label booking-form-block js-center-map">
       <div class="gmap" id="gmap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3612.3621405644426!2d121.46659456499457!3d25.123444733930544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442af9a2893eb57%3A0x344fac685f1767f9!2z5Lit6I-v6LOT5aOr6Zec5rih5bGV56S65Lit5b-D!5e0!3m2!1szh-TW!2stw!4v1612500777612!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
   </div>
</div>
<div class="booking-btns">
    <button>送出</button>
</div>

{{"<!-- Contact Details -->" | safeHTML}}
			<div class="contact-info col-lg-12 wow fadeInUp" data-wow-duration="500ms">
				<h3>{{ .subtitle | markdownify }}</h3>
				<p> {{ .content | markdownify }} </p>

				{{ if .contact_form.enable }}
				<div class="contact-details">
					{{ range .contact_list }}
					<div class="con-info clearfix">
						<i class="{{ .icon }}"></i>
						<span>{{ .info }}</span>
					</div>
					{{ end }}
				</div>
				{{ end }}
			</div>

		
			{{ end }}
			{{ else }}
			<div class="contact-details">
				{{ range .contact_list }}
				<div class="con-info clearfix">
					<i class="{{ .icon }}"></i>
					<span>{{ .info }}</span>
				</div>
				{{ end }}
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
{{ end }}
